Repository kubernetes/committee-security-response, pull requests merged in 2019-07, with the labels that each got.

#38 Promote Jon Pulsifer to full PSC member
  OWNERS_ALIASES
  SECURITY_CONTACTS
  security-release-process.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#22 Update CVE request details, add issue publishing requirement
  cve-requests.md
  security-release-process.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, lifecycle/stale, size/S

#40 Updating README.MD to include the PSC members and contacts
  README.md
  security-release-process.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/M

#42 updated docs on SIG Release connection
  security-release-process.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/S
