Repository kubernetes/committee-security-response, pull requests merged in 2020-06, with the labels that each got.

#86 Add acknowledgements back to email template
  comms-temlpates/vulnerability-announcement-email.md
  comms-temlpates/vulnerability-announcement-issue.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#87 Add GPG key info for joelsmith
  README.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#79 Change 'will' to 'may' for creation of private branches
  security-release-process.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#90 sig-release: Update Release Manager roles
  security-release-process.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/L

#88 Promote associate Craig Ingram (@cji) to the PSC
  OWNERS_ALIASES
  README.md
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#91 Remove Jordan Liggitt from PSC (stepping down)
  README.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#93 Update contacts for Jordan's offboarding
  OWNERS_ALIASES
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#85 Add Sam Fowler as associate member
  README.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#95 s/temlpates/templates/
  comms-templates/distributors-removal-email.md
  comms-templates/vulnerability-announcement-email.md
  comms-templates/vulnerability-announcement-issue.md
Labels: cncf-cla: yes, committee/product-security, size/XS

#94 PSC membership updates
  SECURITY_CONTACTS
  cna-handbook.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#89 Add GitHub PSC group to on/offboard process
  psc-onboarding-offboarding.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/M

#83 Disclosure changes
  security-release-process.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/M
