Repository kubernetes/committee-security-response, pull requests merged in 2021-04, with the labels that each got.

#124 Promote Tabitha Sable to full PSC member
  OWNERS_ALIASES
  README.md
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/XS

#125 Update process docs
  comms-templates/vulnerability-announcement-email.md
  comms-templates/vulnerability-announcement-slack.md
  psc-onboarding-offboarding.md
  security-release-process.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/L

#126 Updated comms templates
  comms-templates/distributors-announcement-email.md
  comms-templates/vulnerability-announcement-email.md
  comms-templates/vulnerability-announcement-issue.md
  comms-templates/vulnerability-announcement-placeholder-issue.md
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, size/M
